{% extends "template.html.twig" %}

{% block body %}

<div class="video-background">

    <div class="video-container">
        <canvas id="video-background"></canvas>
    </div>
        
    <div class="container hero-container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-center banner">
                  <h1>Card sent!</h1>
                  <pre>{{ result }}</pre>
              </div>
          </div>
      </div>
    </div>

</div>

{% endblock body %}