{% extends "template.html.twig" %}

{% block body %}

    <div class="video-background">

        <div class="video-container">
            <canvas id="video-background"></canvas>
        </div>

        <div class="container hero-container">

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center banner">
                        <h1>Awesome! We've queued your card.</h1>
                        <p><a href="{{ url }}">View your card</a></p>
                        <p>Want to send another one? <a href="{{ path("homepage") }}">Go for it!</a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="hidden">
        <video id="bgvideo" autoplay loop muted>
            <source src="https://s3.amazonaws.com/setfive-public/beautybeast.webm?r={{ random() }}" type="video/webm">
        </video>
    </div>

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">
twttr.conversion.trackPid('l5hzk');</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5hzk&p_id=Twitter" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5hzk&p_id=Twitter" /></noscript>

{% endblock body %}
