{% extends "template.html.twig" %}

{% block body %}

    <div class="video-background">

        <div class="video-container">
            <canvas id="video-background"></canvas>
        </div>

        <div class="container hero-container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="saved-image-button">
                      <a class="btn btn-default" href="{{ path("homepage") }}">Created your own card!</a>
                    </div>
                    <div class="text-center saved-image-container">
                        <img src="/rendered/{{ image }}" class="saved-image">
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="hidden">
        <video id="bgvideo" autoplay loop>
            <source src="https://s3.amazonaws.com/setfive-public/10things.webm" type="video/webm">
        </video>
    </div>

{% endblock body %}