/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
body {
  background-color: #F05AC0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.video-background {
  position: relative;
}
.video-background #video-background {
  height: 100%;
  width: 100%;
}
.video-background .video-container {
  position: absolute;
  left: 0px;
  top: 0px;
}
.form-control:focus {
  border-color: #333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(80, 80, 80, 0.6);
}
label {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.help-block {
  color: #FDFDFD;
}
h4 {
  margin-bottom: 40px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}
.big-btn.btn.btn-default {
  text-decoration: none;
  border-radius: 0px;
  background-color: #eee;
  color: #333;
  border: none;
  font-size: 28px;
  padding: 14px 20px;
}
.big-btn.btn.btn-default:hover,
.big-btn.btn.btn-default:active,
.big-btn.btn.btn-default:focus {
  text-decoration: none;
  background-color: #FBFBFB;
  color: #333;
  border: none;
  padding: 14px 20px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container .banner {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.hero-container .banner a,
.hero-container .banner a:active,
.hero-container .banner a:hover,
.hero-container .banner a:focus {
  color: #fff;
  text-decoration: underline;
}
.hero-container h1 {
  font-family: 'Raleway';
  font-weight: 300;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 65px;
  color: #fff;
}
.hero-container p {
  font-weight: bold;
  color: #fff;
}
.hero-container .hero-image {
  width: 100%;
  padding: 1px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}
.copy-container {
  margin-top: 40px;
  margin-bottom: 60px;
}
.copy-container h3 {
  color: #fff;
  font-size: 38px;
  font-family: 'Raleway';
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 5px solid #facfed;
}
.copy-container h3:not(:first-child) {
  margin-top: 50px;
}
.copy-container p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.copy-container a,
.copy-container a:hover,
.copy-container a:active,
.copy-container a:focus {
  color: #fff;
  text-decoration: underline;
}
.copy-container .how-list {
  margin-left: 0px;
  padding-left: 30px;
  font-size: 16px;
}
.copy-container .how-list li:not(:last-child) {
  padding-bottom: 10px;
}
.copy-container .copy-preview {
  width: 100%;
  padding: 2px;
  background-color: #facfed;
  border-radius: 4px;
  border: 1px solid #673C60;
}
.template-container {
  margin-bottom: 20px;
}
.template-container .sidebar h4:not(:first-child) {
  margin-top: 40px;
}
.template-container .sidebar table td {
  border: 0px;
  text-align: center;
}
.template-container .sidebar .thumbnail-select {
  padding: 2px;
  background-color: #facfed;
  border-radius: 4px;
  border: 1px solid #673C60;
  max-width: 100px;
}
.template-container .sidebar label {
  font-weight: 300;
  font-size: 16px;
}
.template-container .template-image-container {
  position: relative;
}
.template-container .template-image-container .template-bg {
  background-position: center center;
  background-image: url("templates/ryangosling.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.template-container .overlay-text {
  background-color: #eee;
  padding: 10px;
  float: left;
  color: #000;
  z-index: 100;
  cursor: hand;
  cursor: pointer;
}
.address-container {
  margin-bottom: 20px;
}
.address-container .their-address {
  margin-top: 40px;
}
.footer-container {
  border-top: 2px solid #444;
  background-color: #eee;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #333;
}
.footer-container a,
.footer-container a:hover,
.footer-container a:focus,
.footer-container a:active {
  color: #333;
  text-decoration: underline;
}
